.idea
obj
/RecipeOgranizer/RecipeOgranizer.ConsoleApp/obj
/RecipeOgranizer/RecipeOgranizer.ConsoleApp/bin
/RecipeOgranizer/RecipeOgranizer.Dal/bin
/RecipeOgranizer/RecipeOgranizer.Dal/obj
/RecipeOgranizer/View/bin
/RecipeOgranizer/.vs/RecipeOgranizer/FileContentIndex
bin
.suo
.lock
.vsidx
.v2
